@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model List<SysChain.Model.SysMoudle>
<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
        <a href="/Admin/Home/Index" title="首页">首页</a>
        <i class="fa fa-angle-right"></i>
        <span>系统管理</span>
    </p>
</div>
<main id="system">

<ul class="module-intro">
	@{Random ran=new Random();	}
	@foreach(SysChain.Model.SysMoudle m in Model)
	{
		int RandKey=ran.Next(1,15);
    <li>
        <a href='@m.LinkUrl' title="@m.Name">
            <span class="icon-@RandKey"><i class="fa @m.Style"></i></span>
            <div>
                <h2>@m.Name</h2>
                <p>@m.MoudleDes</p>
            </div>
        </a>
    </li>
	}
</ul>

</main>
