@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SysChain.LoginModel
@section Scripts
{
	@Scripts.Render("~/js/tools")
	@Scripts.Render("~/js/login")
}
<main id="Login-index">
    <section>
        <div class="intro">
            <h1>我们能一起做些什么？</h1>
            <ul>
                <li>商家加盟</li>
                <li>合作商加盟</li>
                <li>代理加盟</li>
                <li>城市合伙人</li>
            </ul>
        </div>

        <div class="form">
            <ul>
                <li>
                    <a class="current" data-id="common" href="#" title="会员登录">会员登录</a>
                </li>
            </ul>
            
            <!-- 普通登录 -->
            <form id="common" action="@Url.Action("Login","Member")" method="post">
                <p>
                    <span><i class="i i-user3"></i></span>
                    @Html.TextBoxFor(m => m.LoginName,new {placeholder="请输入登录账号",autocomplete="off"})
                </p>
                <p>
                    <span><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m=>m.LoginPassword,new {placeholder="请输入登录密码",value="maggie1212"})
                </p>
                <div id="drag"></div>
                <p>
                    <input class="btn btn-risk" id="btnSubmit" type="submit" value="登录" />
                </p>
            </form>

            <ol>
                <li><a href="#" title="忘记密码？">忘记密码？</a></li>
                <li><a href="#" title="免费注册">免费注册</a></li>
            </ol>
        </div>
        <!-- div.form -->
    </section>
</main>


