@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveUrl = "/Admin/SysConfig/Index/2";
}
@model List<SysChain.Model.SysRole>
@section Scripts
{
	@Scripts.Render("~/js/plugin/popwin")
	@Scripts.Render("~/js/rindex")
}
<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
 		<a href="/Admin/SysConfig/Index/2" title="系统管理">系统管理</a>
        <i class="fa fa-angle-right"></i>
        <span>角色管理</span>
    </p>
</div>
<main id="system-role">

     <section>
        <header>
            <h1>角色管理</h1>
        </header>

        <aside>
            <form id="frmSearch" action="@Url.Action("Index","SysRole")" method="post">
                <p class="input-button-group">
                    <input id="keywords" name="keywords" type="text" maxlength="32" placeholder="输入角色名称,快来搜我〜" value="@ViewBag.KeyWords" />
                    <button  type="submit"><i class="fa fa-search"></i></button>
                </p>
				<input type="hidden" name="index" id="index"/>
            </form>
            <div class="operate">
                <a id="btnNew" class="btn btn-primary" href="@Url.Action("New","SysRole",new{area="Admin"})" data-panel-init="on" title="创建角色"><i class="fa fa-plus-circle"></i>创建角色</a>
            </div>
        </aside>

        <table>
             <thead>
                <tr>
                    <th>编号</th>
                    <th>角色名称</th>
                    <th>角色描述</th>
                    <th>人数</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
			@if(Model!=null&&Model.Count>0)
			{
				for(int i=0;i<Model.Count;i++)
				{
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model[i].Name</td>
                    <td class="left" style="width:260px;">
						<span style="display: inline-block;width: 260px;max-height: 120px;vertical-align: middle;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">@Model[i].Description</span>

					</td>
                    <td style="width:120px;">@Model[i].RoleNum</td>
                    <td style="width:120px;">
						@if(!Model[i].State)
						{
	                    	<i class="red">禁用</i>
						}else
						{
							<i class="green">启用</i>
						}
					</td>
                    <td>
                        <a class="btn-icon" href="@Url.Action("RoleAccess","SysRole",new{area="Admin",id=Model[i].RoleID})" title="权限配置"><i class="fa fa-fw fa-cog"></i>权限配置</a>
                        <a class="btn-icon" href="@Url.Action("New","SysRole",new{area="Admin",id=Model[i].RoleID})" data-panel-init="on" title="编辑角色"><i class="fa fa-fw fa-edit"></i>编辑</a>
                        <a class="btn-icon" href="@Url.Action("Delete","SysRole",new{area="Admin",id=Model[i].RoleID})" data-delete-moudle="on" data-flag="@Model[i].RoleNum" data-msg="该角色有 @Model[i].RoleNum 个用户正在使用,无法删除." title="删除"><i class="fa fa-fw fa-trash-o"></i>删除</a>
						@if(!Model[i].State)
						{
	                    	 <a class="btn-icon" data-update-status="on" href='@Url.Action("UpdateStatus","SysRole",new {area="Admin",id=Model[i].RoleID})'   title="启用角色"><i class="fa fa-fw fa-bolt"></i>启用</a>
						}else
						{
							 <a class="btn-icon" data-update-status="on" href='@Url.Action("UpdateStatus","SysRole",new {area="Admin",id=Model[i].RoleID})' title="禁用角色"><i class="fa fa-fw fa-bolt"></i>禁用</a>
						}
                    </td>
                </tr>
				}
			}
			else{
				 <tr>
					<td colspan="7">暂无数据....</td>
				</tr>
			}
            </tbody>
        </table>

		@Html.Action("PageInfo","Public",new{Totalcount=ViewBag.Totalcount,Url=Url.Action("Index","SysRole"),pageindex=ViewBag.PageIndex})
    </section>

</main>
