@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveUrl = "/Admin/SysConfig/Index/2";
}
@model List<SysChain.Model.MoudleForTree>
@{
	List<int> ext=(List<int>)ViewBag.existMoudle;
}
@section Scripts
{
	@Scripts.Render("~/js/raccess")
}
<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
        <a href="#" title="系统管理">系统管理</a>
        <i class="fa fa-angle-right"></i>
        <a href="#" title="角色管理">角色管理</a>
        <i class="fa fa-angle-right"></i>
        <span>权限配置</span>
    </p>
</div>
<main id="system-role-access">
    <section class="form">
        <form id="frm-role-access" action="@Url.Action("RoleAccess","SysRole",new{id=ViewBag.RoleID})" method="post">
            <header>
                <h1>权限配置</h1>
            </header>

            <div class="column-list">
			@foreach(SysChain.Model.MoudleForTree m in Model)
			{
                <dl>
                    <dt>
						@if(ext.Contains(m.Node.MoudleID))
						{
                        <label for="m_@m.Node.MoudleID">@m.Node.Name</label>
                        <input id="m_@m.Node.MoudleID" type="checkbox" name="access" value="@m.Node.MoudleID" checked="checked">
						}else
						{
                        <label for="m_@m.Node.MoudleID">@m.Node.Name</label>
                        <input id="m_@m.Node.MoudleID" type="checkbox" name="access" value="@m.Node.MoudleID" >
						}

                    </dt>
					@if(m.Childers.Count()>0)
					{
						foreach(SysChain.Model.SysMoudle sm in m.Childers)
						{
                    <dd>
						@if(ext.Contains(sm.MoudleID))
						{
                        <label for="m_@sm.MoudleID">@sm.Name</label>
                        <input id="m_@sm.MoudleID" type="checkbox" name="access" value="@sm.MoudleID"  checked="checked">
						}else
						{
                        <label for="m_@sm.MoudleID">@sm.Name</label>
                        <input id="m_@sm.MoudleID" type="checkbox" name="access" value="@sm.MoudleID">
						}
                    </dd>
						}
					}else{
						<dd>
							<span>暂无子模块.</span>
						</dd>
					}
                </dl>
				
			}
            </div>
        @if(Model.Count()>0)
		{
            <footer>
                <button class="btn btn-primary" type="submit">保存</button>
                <a class="btn btn-none" href='@Url.Action("Index","SysRole",new { area="Admin"})' title="返回">返回</a>
            </footer>
		}else
		{
			 <footer>
					<p>暂无模块数据.</p>
			 </footer>
		}

        </form>
    </section>
    
</main>

