@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model SysChain.Model.SysMoudle

@section Scripts
{
	@Scripts.Render("~/js/mnew")
}
<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
        <a href="#" title="系统管理">系统管理</a>
        <i class="fa fa-angle-right"></i>
        <a href="#" title="模块管理">模块管理</a>
        <i class="fa fa-angle-right"></i>
        <span>新增模块</span>
    </p>
</div>
<main id="panel">
    <section class="form">
        <header>
            <h1>新增模块</h1>
        </header>
        <form id="frmNew" action="@Url.Action("New","SysMoudle")" method="post">
            <p>
                <i class="red">*</i><span>模块名称：</span>
				@Html.TextBoxFor(m => m.Name,new {placeholder="请输入模块名称",autocomplete="off"})
            </p>
            <p>
                <i class="red">*</i><span>模块样式：</span>
				@Html.TextBoxFor(m => m.Style,new {placeholder="样式请参考：http://fontawesome.dashgame.com",autocomplete="off"})
            </p>
            <p>
                <span>模块链接：</span>
				@Html.TextBoxFor(m => m.LinkUrl,new {placeholder="请输入模块链接",autocomplete="off"})
            </p>
            <p>
                <span>模块描述：</span>
				@Html.TextAreaFor(m => m.MoudleDes,new {placeholder="请输入模块描述,限200字符以内",autocomplete="off",style="font-size:12px;"})
            </p>
            <footer>
                <button class="btn btn-primary" type="submit">确定</button>
                <a class="btn btn-cancel btn-close" href="#" title="取消">取消</a>
            </footer>
			@Html.HiddenFor(m => m.MoudleID)
			@Html.HiddenFor(m => m.ParentID)
			@Html.HiddenFor(m => m.OrderCode)
			@Html.HiddenFor(m => m.State)
        </form>
    </section>
</main>

