@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="help-list">
    <div class="help-search">
        <div class="wrap">
            <h1>帮助中心</h1>
            <form action="#" method="post">
                <div>
                    <input type="text" name="search" maxlength="32" placeholder="请输入搜索关键词，如：密码"/>
                    <input class="btn btn-risk" type="submit" value="搜索"/>
                </div>
                <dl>
                    <dt>热门搜索：</dt>
                    <dd><a href="#" title="预订及取车">预订及取车</a></dd>
                    <dd><a href="#" title="还车及结算">还车及结算</a></dd>
                    <dd><a href="#" title="保险服务">保险服务</a></dd>
                    <dd><a href="#" title="紧急服务">紧急服务</a></dd>
                    <dd><a href="#" title="会员服务">会员服务</a></dd>
                    <dd><a href="#" title="限行政策">限行政策</a></dd>
                </dl>
            </form>
        </div>
    </div>
    <!-- div.help-search -->

    <div class="help-nav-wrap">
        <div class="help-nav">
            <p>
                <i class="fa fa-fw fa-home"></i>
                <a href="./help.html" title="帮助中心">帮助中心</a>
                <i class="fa fa-fw fa-angle-right"></i>
                <span>账户相关</span>
            </p>
            <ul>
                <li><a class="current" href="./help-list.html" title="账户相关">账户相关</a></li>
                <li><a href="./help-list.html" title="订货系统">订货系统</a></li>
                <li><a href="./help-list.html" title="平台服务">平台服务</a></li>
                <li><a href="./help-list.html" title="公司动态">公司动态</a></li>
            </ul>
        </div>
    </div>
    <!-- div.help-nav-wrap -->

    <div class="help-wrap">
        <aside class="help-aside">
            <dl class="help-aside-nav">
                <dt>问题分类</dt>
                <dd><a class="current" href="./help-list.html" title="注册与登录">注册与登录</a></dd>
                <dd><a href="./help-list.html" title="账户安全设置">账户安全设置</a></dd>
                <dd><a href="./help-list.html" title="找回密码">找回密码</a></dd>
                <dd><a href="./help-list.html" title="积分兑换问题">积分兑换问题</a></dd>
            </dl>
            <div class="help-aside-info">
                <h1>客服及其他服务</h1>
                <ul>
                    <li>客服热线：<em>800-888-8888</em></li>
                    <li>加盟热线：<em>800-888-8888</em></li>
                    <li>业务合作：<em>800-888-8888</em></li>
                    <li>市场合作：<em>800-888-8888</em></li>
                </ul>
            </div>
        </aside>
        <!-- aside.help-aside -->

        <section>
            <header>
                <h1>注册与登录</h1>
            </header>
            <ul>
                <li><a href="@Url.Action("Detail","Help")" title="忘记密码了，如何找回登录密码? ">忘记密码了，如何找回登录密码? <span>2015-11-06</span></a></li>
                <li><a href="@Url.Action("Detail","Help")" title="忘记密码了，如何找回登录密码? ">忘记密码了，如何找回登录密码? <span>2015-11-06</span></a></li>
                <li><a href="@Url.Action("Detail","Help")" title="忘记密码了，如何找回登录密码? ">忘记密码了，如何找回登录密码? <span>2015-11-06</span></a></li>
                <li><a href="@Url.Action("Detail","Help")" title="忘记密码了，如何找回登录密码? ">忘记密码了，如何找回登录密码? <span>2015-11-06</span></a></li>
                <li><a href="@Url.Action("Detail","Help")" title="忘记密码了，如何找回登录密码? ">忘记密码了，如何找回登录密码? <span>2015-11-06</span></a></li>
                <li><a href="@Url.Action("Detail","Help")" title="忘记密码了，如何找回登录密码? ">忘记密码了，如何找回登录密码? <span>2015-11-06</span></a></li>
                <li><a href="@Url.Action("Detail","Help")" title="忘记密码了，如何找回登录密码? ">忘记密码了，如何找回登录密码? <span>2015-11-06</span></a></li>
                <li><a href="@Url.Action("Detail","Help")" title="忘记密码了，如何找回登录密码? ">忘记密码了，如何找回登录密码? <span>2015-11-06</span></a></li>
                <li><a href="@Url.Action("Detail","Help")" title="忘记密码了，如何找回登录密码? ">忘记密码了，如何找回登录密码? <span>2015-11-06</span></a></li>
                <li><a href="@Url.Action("Detail","Help")" title="忘记密码了，如何找回登录密码? ">忘记密码了，如何找回登录密码? <span>2015-11-06</span></a></li>
            </ul>

            <footer class="page">
                <div class="page-info">每页 20 条/共 1051 条记录 1/53 页</div>
                <div class="page-code">
                    <a href="#">下一页</a>
                    <span class="current">1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">下5页</a>
                    <a href="#">最后一页</a>
                </div>
            </footer>
        </section>
    </div>
    <!-- div.wrap -->
</main>

