<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
<head>
    <title>电商后台管理系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <link rel="icon" type="image/x-icon" href="~/Content/Public/Images/ico/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Public/Images/ico/favicon.ico"/>
    <!--[if lt IE 9]>
        <link type="text/css" rel="stylesheet" href="~/Content/Public/Hack/css/ie8.css" />
        <script type="text/javascript" src="~/Content/Public/Hack/js/html5shiv.min.js"></script>
        <script type="text/javascript" src="~/Content/Public/Hack/js/IE9.js"></script>
    <![endif]-->
	<link type="text/css" rel="stylesheet" href="~/Content/Public/Plugin/font-awesome-4.7.0/css/font-awesome.min.css"/>
	<link type="text/css" rel="stylesheet" href="~/Content/Public/Plugin/css/icon.min.css"/>
	@Styles.Render("~/css/admin/base")	
	@RenderSection("Styles",false)
</head>
<body>
	@Html.Action("Header","Home")	
	@RenderBody()
	@Html.Partial("~/Areas/Admin/Views/Shared/_Footer.cshtml")
	@Scripts.Render("~/js/tools")
	@RenderSection("Scripts",false)
</body>
</html>
