@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveUrl = "/Admin/SysConfig/Index/2";
}
@model List<SysChain.Model.VM_SysUser>
@section Scripts
{
	@Scripts.Render("~/js/plugin/popwin")
	@Scripts.Render("~/js/uindex")
}
<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
 		<a href="/Admin/SysConfig/Index/2" title="系统管理">系统管理</a>
        <i class="fa fa-angle-right"></i>
        <span>用户管理</span>
    </p>
</div>
<main id="system-user">

     <section>
        <header>
            <h1>用户管理</h1>
        </header>

        <aside>
            <form id="frmSearch" action="@Url.Action("Index","SysUser")" method="post">
                <p class="input-button-group">
                    <input id="keywords" name="keywords"  type="text" maxlength="32" placeholder="请输入姓名搜索〜" value="@ViewBag.KeyWords"/>
                    <button  type="submit"><i class="fa fa-search"></i></button>
                </p>
				<input type="hidden" name="index" id="index"/>
            </form>
            <div class="operate">
                <a class="btn btn-primary" href="@Url.Action("New","SysUser",new{area="Admin"})" data-panel-init="on" title="创建用户"><i class="i i-plus2"></i>创建用户</a>
            </div>
        </aside>

        <table>
           <thead>
                <tr>
                    <th>编号</th>
                    <th>用户账号</th>
                    <th>所属角色</th>
                    <th>姓名</th>
					<th>性别</th>
                    <th>手机号</th>
                    <th>所在部门</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
				@if(Model!=null&&Model.Count>0)
				{
				foreach(SysChain.Model.VM_SysUser m in Model)
				{
                <tr>
                    <td>@m.Row</td>
                    <td>@m.LoginName</td>
                    <td>@m.RoleName</td>
                    <td>@m.Name</td>
					<td>
						@if(!m.Gender)
						{
	                    	<i>女</i>
						}else
						{
							<i>男</i>
						}	
					</td>
                    <td>@m.Telephone</td>
                    <td>@m.Department</td>
                    <td>
						@if(!m.State)
						{
	                    	<i class="red">冻结</i>
						}else
						{
							<i class="green">正常</i>
						}
					</td>
                    <td>@m.RegisterDate</td>
                    <td>
                        <a class="btn-icon" href="@Url.Action("New","SysUser",new{area="Admin",id=@m.UserID})" data-panel-init="on" title="编辑用户"><i class="fa fa-fw fa-edit"></i>编辑</a>
						@if(!m.State)
						{
						<a class="btn-icon" href="@Url.Action("Freeze","SysUser",new{area="Admin",id=@m.UserID})" data-common-moudle="on"  data-msg="解冻该用户,是否继续操作？" title="解冻用户"><i class="fa fa-fw fa-user"></i>解冻</a>
						}else
						{
 						<a class="btn-icon" href="@Url.Action("Freeze","SysUser",new{area="Admin",id=@m.UserID})" data-common-moudle="on"  data-msg="冻结该用户,是否继续操作？" title="冻结用户"><i class="fa fa-fw fa-ban "></i>冻结</a>
						}
                       <a class="btn-icon" href="@Url.Action("Reset","SysUser",new{area="Admin",id=@m.UserID})" data-common-moudle="on"  data-msg="重置该用户登陆为:mm888888,是否继续操作？" title="重置密码"><i class="fa fa-fw fa-refresh"></i>重置密码</a>
                    </td>
                </tr>
				}
				}else{
				 <tr>
					<td colspan="10">暂无数据....</td>
				</tr>
				}

            </tbody>
        </table>
		@Html.Action("PageInfo","Public",new{Totalcount=ViewBag.Totalcount,Url=Url.Action("Index","SysUser"),pageindex=ViewBag.PageIndex})
    </section>

</main>