@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    @Scripts.Render( "~/js/umpw")
}
@model SysChain.Model.VM_SysModifyPassword
<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
        <a href="#" title="基本资料">基本资料</a>
        <i class="fa fa-angle-right"></i>
        <span>密码修改</span>
    </p>
</div>
<main>
    <section class="form">
        <form  id="frmNew" action="@Url.Action("ModifyPassword","SysUser")" method="post">
            <header>
                <h1>修改密码</h1>
            </header>
            <p>
                <span><em>*</em>登陆账户：</span>
                @Html.TextBoxFor(m => m.LoginName,new {@readonly="readonly",autocomplete="off"})
            </p>
            <p>
                <span><em>*</em>登陆密码：</span>
                @Html.PasswordFor(m => m.LoginPassword,new {style="width:300px;",autocomplete="off"})
            </p>
            <p>
                <span><em>*</em>新&nbsp;&nbsp;密&nbsp;码：</span>
                @Html.PasswordFor(m => m.NewPassword,new {style="width:300px;", autocomplete="off"})
            </p>
            <p>
                <span><em>*</em>确认密码：</span>
                @Html.PasswordFor(m => m.ConfirmPassword,new {style="width:300px;",autocomplete="off"})
            </p>
            <footer>
                <button class="btn btn-primary" type="submit">确认</button>
            </footer>
        </form>
    </section>
</main>