<div id="header">
    <header>
        <h1 id="logo">
            <a href="./index.html" title="宇通商城 网上进货平台">网上进货平台</a>
        </h1>
        <ul id="nav">
            <li><a class="current" href="/" title="首页">首页</a></li>
            <li><a href="@Url.Action("Mall","Home")" title="宇通商城">宇通商城</a></li>
            <li><a href="@Url.Action("Store","Home")" title="宇通超市">宇通超市</a></li>
			<li><a href="@Url.Action("Agent","Home")" title="易代理">易代理</a></li>
            <li><a href="@Url.Action("Service","Home")" title="宇通服务站">宇通服务站</a></li>
            <li><a href="@Url.Action("Partner","Home")" title="城市合伙人">城市合伙人</a></li>
        </ul>
        <strong><i class="fa fa-phone"></i>400-800-8888</strong>
    </header>
</div>